<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add connectionString="Data Source=.;Initial Catalog=nwdb;User ID=sa;Password=12345" name="con" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
